#btn1 {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#btn1:hover {
 -fx-background-color: linear-gradient(#2A5058, #61a2b1);
 }

.text-area {
    -fx-background-image: url("background.jpg");
}

.text-area .scroll-pane .scroll-bar {
    -fx-background-color: rgba(255,255,255,0.5);
}

.text-area .viewport {
    -fx-background-color: transparent;
}

.text-area .content {
    -fx-background-color: transparent;
}

.text-area .text {
    -fx-effect: dropshadow(gaussian,#fff,10,0.8,0,0);
}

